<!--<ng-pane-manager id="manager" class="ng-theme-default" [(layout)]="_layout"></ng-pane-manager>-->
<!--<div class="div-chart" *ngPaneTemplate="let pane named 'foo' withHeader fooHeader; let extra = extra" >-->
<!--  <app-chart-only [containerIds]="'1'"></app-chart-only>-->
<!--</div>-->
<!--<div class="div-chart" *ngPaneTemplate="let pane named 'bar' withHeader barHeader">-->
<!--  <ng-container *ngTemplateOutlet="template1"></ng-container>-->
<!--</div>-->

<!--<div class="div-chart" *ngPaneTemplate="let pane named 'bar2' withHeader barHeader">-->
<!--  <app-chart-only [containerIds]="'3'"></app-chart-only>-->
<!--</div>-->
<!--<div class="div-chart" *ngPaneTemplate="let pane named 'bar3' withHeader barHeader">-->
<!--  <app-chart-only [containerIds]="'4'"></app-chart-only>-->
<!--</div>-->
<!--<ng-template #template1>-->
<!--  <app-chart-only [containerIds]="'2'"></app-chart-only>-->
<!--</ng-template>-->
