<!--<div class="tab">-->
<!--  <span *ngFor="let ticker of chartService.tickers ; let i = index" class="group-button  {{active[i]}}">-->
<!--    <button class="tablinks {{active[i]}}" (click)="onChangeTicker(i)">{{ticker}}</button>-->
<!--    <button class="close" (click)="removeTicker(i)">x</button>-->
<!--  </span>-->
<!--  <button style="float: right;font-size: 25px;padding-right: 20px" (click)="addTicker()">+</button>-->
<!--</div>-->
<!--<div #container>-->

<!--</div>-->
<!--<router-outlet></router-outlet>-->
<!--<div #container>-->

<!--</div>-->
<!--<app-tv-chart-container (messageEvent)="receiveMessage($event)"></app-tv-chart-container>-->
<router-outlet></router-outlet>

